extends /partials/base 
block content
    div.component
    div.overview
        //- div.overview__item
        //-     a(href="#")
        //-         img(src="/src/images/hero.jpg", alt="test")
        //-     h2 name image 1
    div.pagination
        //- button.btn.btn--pagination page 1
    script( defer src="/src/js/controllers/overviewController.js") 