extends /partials/base
block content
    div.component
    div.preview
        //- div.preview__image
        //-     h1 NAME THE IMAGE
        //-     img(src="/src/images/hero.jpg", alt="test")
        //- div.preview__content
        //-     div.preview__user
        //-         img(src="/src/images/hero.jpg", alt="test")
        //-         a(href="#") Yarol Abraham 
        //-     div.preview__download
        //-         p Free for commercial use, No attribution required
        //-         a(href="#") Free Download
        //-     div.preview__related--box
        //-         h1 Related Images
        //-         div.relate--image
        //-             a(href="#")
        //-                 img(src="/src/images/hero.jpg", alt="test") 
    script( defer src="/src/js/controllers/previewController.js") 
                