footer.footer 
    div.footer__content-box 
        h1.footer-content-primary Free images, videos and music you can use anywhere
        p.footer-content-sub Pixabay is a vibrant community of creatives, sharing copyright free images, videos and music. All contents are released under the Pixabay License, which makes them safe to use without asking for permission or giving credit to the artist - even for commercial purposes.
    div.footer__redes-box 
        a(href="https://www.facebook.com/yarol.reyes.96" title="Autor" target="_blank") Facebook
        a(href="https://www.linkedin.com/in/yarol-choc-b05835199" target="_blank") Linkedin  
    div.footer__credits-box 
        a(href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank") Flaticon
        a(href="https://pixabay.com" title="pixabay" target="_blank") Pixabay
    
    p.autor Yarol Abraham&copy; 2021