header.header
    div.header__logo-box
        a(href="./home.pug")
            img(src="/src/images/logo.svg", class="header__logo" alt="logo") 
    div.header__text-box 
        form.search
            input(type="text", class="search__input" name="search" placeholder="Search over +3,000,000 images...") 
            button.btn.search__btn            
                svg.h-5.w-5.search__svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 20 20' fill='white')
                    path(fill-rule='evenodd' d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z' clip-rule='evenodd')
                